{% extends 'layout.html.twig' %}
{% block content %}   
    <div class="header">
        <!--CASTLE SCORE-->
        <div class="container-items container-score">
            <p class="item-header castle-score">Castle score: {{ castle.score }}</p>
        </div>
        <!--CARD ATTACKER-->
        <div class="attacker">
        {% if battle is defined or battleOrNot is defined %}
            <h4>Between<br>{{ attacker.strength - random(2,15) }} and
            {{ attacker.strength + random(2,15) }}</h4>
            <img src="/assets/images/{{ attacker.name }}.png" class="img-card" alt="{{ attacker.name }}" name="{{ attacker.name }}">
        {% else %}
            <h4>Between<br>{{ enemy.getStrength() - random(2,15) }} and
            {{ enemy.getStrength() + random(2,15) }}</h4>
            <img src="/assets/images/{{ enemy.getName() }}.png" class="img-card" alt="{{ enemy.getName() }}" name="{{ enemy.getName() }}">
        {% endif %}
        </div>
        <!--CASTLE NAME-->
        <div class="container-items container-name">
            <p class="item-header castle-name">{{ castle.name }}</p>
        </div>
    </div>
    <!--BATTLE-->
    {% if battleOrNot is defined %}
    <div class="message">
        <form method="POST" action="/game/play">
            <input type="submit" value="No" class="button btn-no">
        </form>
        <form method="POST" action="/game/battle">
            <input type="submit" value="Yes" class="button btn-yes">
        </form>
    </div>
    <div class="message-decision">
        {% if defender.tiredness > 80 %}
            <img src="/assets/images/{{ defender.name }}-speak.png" style="border: solid 5px green" class="img-battle" alt="">
            <h3>I'm in good shape, I will kill them all !!! hahaha</h3>
        {% elseif defender.tiredness > 50 %}
            <img src="/assets/images/{{ defender.name }}-speak.png" style="border: solid 5px yellow" class="img-battle" alt="">
            <h3>I'm not too fit today but I will do my best to defend the castle lord</h3>
        {% else %}
            <img src="/assets/images/{{ defender.name }}-speak.png" style="border: solid 5px red" class="img-battle" alt="">
            <h3>I'm so tired ..... bury me right away and let's not talk about it anymore</h3>
        {% endif %}
    </div>
    {% endif %}
    {% if battleFought is defined %}
    <div class="message">
        {% if battle.score > 0 %}
            <h2 class="win">{{ battle.result }}</h2>
            <h3 class="win">+{{ battle.score }} points<h3>
            <h4 class="win">Tiredness before battle:<br>{{ defender.tiredness }}<h4>
        {% elseif battle.score < 0 %}
            <h2 class="lose">{{ battle.result }}</h2>
            <h3 class="lose">{{ battle.score }} points<h3>
            <h4 class="lose">Tiredness before battle:<br>{{ defender.tiredness }}<h4>
        {% else %}
            <h2 class="draw">{{ battle.result }}</h2>
        {% endif %}
        <form method="POST" action="/game/updateScore">
            <input type="submit" value="Next battle" class="button btn-new-game">
        </form>
    </div>
    {% endif %}
    <!--ERROR UPLOAD BACKGROUND-->
    {% if castleBackground is defined %}
    <div class="msg-error-upload">
        <h1>Upload error</h1>
        {% if files["bg-castle-upload"]["error"] == 1 %}
            <h3>The size of the photo exceeds the maximum authorized size of 2 Mo</h3>
            <h3>Reset a new castle with the restart button in the menu</h3>
        {% elseif files["bg-castle-upload"]["error"] == 2 %}
            <h3>The size of the photo exceeds the maximum authorized size of 2 Mo</h3>
            <h3>Reset a new castle with the restart button in the menu</h3>
        {% elseif files["bg-castle-upload"]["error"] == 3 %}
            <h3>The file was only partially downloaded</h3>
            <h3>Reset a new castle with the restart button in the menu</h3>
        {% elseif files["bg-castle-upload"]["error"] == 4 %}
            <h3>File has not been downloaded</h3>
            <h3>Reset a new castle with the restart button in the menu</h3>
        {% elseif files["bg-castle-upload"]["error"] == 6 %}
            <h3>A temporary folder is missing</h3>
            <h3>Reset a new castle with the restart button in the menu</h3>
        {% elseif files["bg-castle-upload"]["error"] == 7 %}
            <h3>Failed to write file to disk</h3>
            <h3>Reset a new castle with the restart button in the menu</h3>
        {% elseif files["bg-castle-upload"]["error"] == 8 %}
            <h3>A PHP extension has stopped sending files</h3>
            <h3>Reset a new castle with the restart button in the menu</h3>
        {% elseif castleBackground == "error type file" %}
            <h3>The extension of the photo is not allowed</h3>
            <h3>Reset a new castle with the restart button in the menu</h3>
        {% else %}
            <h3>An indeterminate error has occurred</h3>
            <h3>Reset a new castle with the restart button in the menu</h3>
        {% endif %}
    </div>
    {% endif %}
    <!--CARDS DEFENSERS-->
    <div class="container-defensers">
        {% for defender in defenderAll %}
            <a href="/game/selectDefender/{{ defender.id }}">
                <div class="defensers defenser-{{ defender.name }}">
                    <img src="/assets/images/{{ defender.name }}.png" class="img-card" alt="{{ defender.name }}" name="{{ defender.name }}">
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
