{% extends 'layout.html.twig' %}
{% block content %}   
    <div class="header">
        <!--CASTLE SCORE-->
        <div class="container-items container-score">
            <p class="item-header castle-score">Castle score: {{ castle.score }}</p>
        </div>
        <!--CARD ATTACKER-->
        <div class="attacker">
        {% if battleResult is defined %}
            <img src="/assets/images/{{ attacker["name"] }}.png" class="img-card" alt="{{ attacker["name"] }}" name="{{ attacker["name"] }}">
        {% else %}
            <img src="/assets/images/{{ enemy.getName() }}.png" class="img-card" alt="{{ enemy.getName() }}" name="{{ enemy.getName() }}">
        {% endif %}
        </div>
        <!--CASTLE NAME-->
        <div class="container-item container-name">
            <p class="item-header castle-name">{{ castle.name }}</p>
        </div>
    </div>
    <!--RESTART-->
    <label for="restart-button" class="restart-button">Restart</label>
    <input type="checkbox" id="restart-button"/>
    <div id="restart-filigram">
        <div id="restart-message">
            <h3>Hello valiant defender of the castle !</h3>
            <h3>We need you, do you really want to lay down the arms</h3>
            <h5>If you click on yes, the castle score will be reset</h5>
            <label for="restart-button" class="button-no-yes" id="button-no">No</label>
            <label for="castle-choice" class="button-no-yes" id="button-yes">Yes</label>
            <input type="checkbox" id="castle-choice"/>
            <div id="restart-filigram">
                <form method="POST" action="/game/init" id="castle-message">
                    <p>Select our castle, if you don't make a choice,<br>
                    the default castle name will be "Defend the Castle"</p>
                    <div>
                        <input type="radio" name="castle" class="radio-castle" id="Kaamelott" value="Kaamelott">
                        <label for="Kaamelott"><span></span>Kaamelott</label>
                    </div>
                    <div>
                        <input type="radio" name="castle" class="radio-castle" id="Barad-d没r" value="Barad-d没r">
                        <label for="Barad-d没r"><span></span>Barad-d没r</label>
                    </div>
                    <div>
                        <input type="radio" name="castle" class="radio-castle" id="Winterfell" value="Winterfell">
                        <label for="Winterfell"><span></span>Winterfell</label>
                    </div>
                    <input type="submit" id="button-new-game" value="New Castle">
                </form>
            </div>
        </div>
    </div>
    <!--BATTLE-->
    {% if battleResult is defined %}
    <div class="battle-window">
        {% if scoreBattle > 0 %}
            <h1 class="win">{{ battleResult }}</h1>
            <h3 class="win">+{{ scoreBattle }}<h3>
        {% elseif scoreBattle < 0 %}
            <h1 class="lose">{{ battleResult }}</h1>
            <h3 class="lose">{{ scoreBattle }}<h3>
        {% else %}
            <h1 class="draw">{{ battleResult }}</h1>
        {% endif %}
        <form method="POST" action="/game/play">
            <input type="submit" value="Next battle" id="button-battle">
        </form>
    </div>
    {% endif %}
    <!--CARDS DEFENSERS-->
    <ul>
    {% for troop in troops %}
        <li><h3>{{ troop.name }} : {{ troop.tiredness }}</h3></li>
    {% endfor %}
    </ul>
    <div class="container-defensers">
        {% for troop in troops %}
            <a href="/game/battle/{{ troop.id }}">
                <div class="defensers">
                    <img src="/assets/images/{{ troop.name }}.png" class="img-card" alt="{{ troop.name }}" name="{{ troop.name }}">
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
