{% extends 'layout.html.twig' %}
{% block content %}   
    <div class="header">
        <!--CASTLE SCORE-->
        <div class="container-items container-score">
            <p class="item-header castle-score">Castle score: {{ castle.score }}</p>
        </div>
        <!--CARD ATTACKER-->
        <div class="attacker">
        {% if battleResult is defined %}
            <img src="/assets/images/{{ attacker["name"] }}.png" class="img-card" alt="{{ attacker["name"] }}" name="{{ attacker["name"] }}">
        {% else %}
            <img src="/assets/images/{{ enemy.getName() }}.png" class="img-card" alt="{{ enemy.getName() }}" name="{{ enemy.getName() }}">
        {% endif %}
        </div>
        <!--CASTLE NAME-->
        <div class="container-items container-name">
            <p class="item-header castle-name">{{ castle.name }}</p>
        </div>
    </div>
    </div>
    <!--BATTLE-->
    {% if battleResult is defined %}
    <div class="battle-window">
        {% if scoreBattle > 0 %}
            <h1 class="win">{{ battleResult }}</h1>
            <h3 class="win">+{{ scoreBattle }}<h3>
        {% elseif scoreBattle < 0 %}
            <h1 class="lose">{{ battleResult }}</h1>
            <h3 class="lose">{{ scoreBattle }}<h3>
        {% else %}
            <h1 class="draw">{{ battleResult }}</h1>
        {% endif %}
        <form method="POST" action="/game/play">
            <input type="submit" value="Next battle" id="button-battle">
        </form>
    </div>
    {% endif %}
    <!--CARDS DEFENSERS-->
    <div class="container-defensers">
        {% for troop in troops %}
            <a href="/game/battle/{{ troop.id }}">
                <div class="defensers">
                    <img src="/assets/images/{{ troop.name }}.png" class="img-card" alt="{{ troop.name }}" name="{{ troop.name }}">
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
