{% extends 'layout.html.twig' %}
{% block content %}
    <div class="header">
        <div class="container_score">
            <div class="castle">
                <span>Castle Score :</span>
            </div>
            <div class="player">
                {% for soldier in troops %}
                    <p>{{ soldier.name }} = {{ soldier.strength }}</p>
                {% endfor %}
            </div>
        </div>
            <div class="ennemy-card">
                    <img src="/assets/images/{{ enemy.getName() }}.png" class="img-card" alt="{{ enemy.getName() }}" name="{{ enemy.getName() }}">
            </div>
        <div class="container_button">
            <a class="button" href="/game/init">Restart</a>
        </div> 
    </div>
    
    <div class="container-card">
        {% for troop in troops %}
            <div class="player-card">
                <a href="/game/select/{{ troop.id }}" name="{{ troop.name }}" class="img-card">
                    <img src="/assets/images/{{ troop.name }}.png" class="img-card" alt="{{ troop.name }}" name="{{ troop.name }}">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
